*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Navbar style start  */

.nav-title{
    margin: 50px 0;
    font-size: 30px;
}


/* Navbar style END  */

/* banner style Start  */

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-left{
    flex: 1;
}
.banner-right{
    flex: 1;
}

.banner-left h1{
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;
}
.banner-left p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
}

.link-button{
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #E02C6D;
    border: 3PX SOLID #E02C6D;
    border-radius: 50px;
    cursor:pointer;
}

.link-button:hover{
    background-color: transparent;
    color: #E02C6D;

}
/* banner style End  */
